@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #4d4f62;
  background-color: #f2f2f2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 36rem;
}

h1,
h2,
p,
span {
  margin: 0;
}

.head__container {
  margin: 5.3125rem 2rem 0 2rem;
  text-align: center;
}

.head__slogan {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.0106rem;
  margin-bottom: 0.0625rem;
}

.head__heading {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.0106rem;
  margin-bottom: 0.8125rem;
}

.head__description {
  font-size: 0.9375rem;
  opacity: 0.5;
  font-weight: 400;
  letter-spacing: 0.0063rem;
  line-height: 1.5625rem;
  margin-bottom: 4.75rem;
}

.media__container {
  margin: 0 2rem;
  margin-bottom: 1.5625rem;
  border-radius: 8px;
  background-color: #ffffff;
}

.media__container:last-of-type {
  margin-bottom: 4.875rem;
}

.media__border {
  height: 0.2219rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.media__inner-container {
  padding: 1.6875rem 1.75rem 0 1.75rem;
  display: flex;
  flex-direction: column;
}

.media__heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.0625rem;
}

.media__text {
  font-size: 13px;
  opacity: 0.5;
  line-height: 1.4375rem;
  letter-spacing: 0.0056rem;
  margin-bottom: 2.0625rem;
}

.media__image {
  max-width: 3.5625rem;
  align-self: flex-end;
  margin-bottom: 1.75rem;
}
